body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.login-container,
.sms-container,
#credits {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
